{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create Listing</h2>
    <form action="{% url 'create_listing' %}" method="post">
        {% csrf_token %}<div class="form-group">
            <label >Title</label>
            <input type="text" name="title" class="form-control" placeholder="Item name" required>
        </div>

        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" name="description" rows="3" required></textarea>
        </div>

        <div class="form-group">
            <label>Starting Bid ($)</label>
            <input class="form-control" type="number" step="0.01" name="starting_bid"required>
        </div>

        <div class="form-group">
            <label>Image URL (Optional)</label>
            <input type="url" name="image_url" class="form-control">
        </div>
        <div class="form-group">
            <label>Category (Optional)</label>
            <input type="text" name="category" class="form-control" placeholder="e.g. Electronics, Fashion">
        </div>
        
        <button class="btn btn-primary" type="submit">Create Listing</button>
    </form>
{% endblock %}